.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
#body.help-page,
.help-page-table th,
.help-page-table pre,
.help-page-table p {
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.help-page pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 143%;
}

.help-page .warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9;
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 10px 0px 20px 0px;
    border-top: 1px solid #D4D4D4;
}

    .help-page-table th {
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #D4D4D4;
        padding: 5px 6px 5px 6px;
    }

    .help-page-table td {
        border-bottom: 1px solid #D4D4D4;
        padding: 10px 8px 10px 8px;
        vertical-align: top;
    }

    .help-page-table pre,
    .help-page-table p {
        margin: 0px;
        padding: 0px;
        font-family: inherit;
        font-size: 100%;
    }

    .help-page-table tbody tr:hover td {
        color: white;
        background-color: #556b2f;
        font-weight: bold;
    }

.help-page a:hover {
    background-color: transparent;
}

.help-page .sample-header {
    border: 2px solid #D4D4D4;
    background: #127480;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.help-page .sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #fafafa;
    border: 2px solid #343a40;
    margin: 0px 0px 10px 0px;
}

.help-page .api-name {
    width: 40%;
}

tr.POST {
    background: rgba(73,204,144,.1);
}

tr.PUT {
    background: rgba(252,161,48,.1);
}

tr.DELETE {
    background-color: rgba(249,62,62,.1);
}

tr.GET {
    background: rgba(97,175,254,.1);
}

.help-page .api-documentation {
    width: 60%;
}

.help-page .parameter-name {
    width: 20%;
}

.help-page .parameter-documentation {
    width: 40%;
}

.help-page .parameter-type {
    width: 20%;
}

.help-page .parameter-annotations {
    width: 20%;
}

.help-page h1,
.help-page .h1 {
    font-size: 36px;
    line-height: normal;
}

.help-page h2,
.help-page .h2 {
    font-size: 24px;
}

.help-page h3,
.help-page .h3 {
    font-size: 20px;
}

#body.help-page {
    font-size: 14px;
    line-height: 80%;
    color: #333;
}

.help-page a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

.bg-dark {
    background-color: #343a40 !important;
}

.p-2 {
    padding: 0.2rem !important;
}

.font-weight-bold {
    font-weight: 700 !important;
    font-size: 1.5rem;
    top: 1rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 2rem;
}

.bg-dark {
    background-color: #06262a !important;
    width: 100%;
}

.help-page-body {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fafafa;
}

.font-small {
    font-size: .9rem;
}

.text-danger {
    color: olive;
}

.d-inline {
    display: inline !important;
}

.text-light {
    color: #f8f9fa !important;
}

.fixed-top a {
    text-decoration: none;
}

header .right {
    right: 1rem;
    top: .5rem;
    position: fixed;
    font-size: 1.2rem;
}

thead {
    background: rgba(0,0,0,.05);
}

