<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BaseAddress" value="http://localhost:52468/api/v1/" />
		<!-- -->
		<add key="RequestTimeout" value="180" /> <!--seconds-->
		<!-- -->
		<add key="PooledConnectionLifetime" value="300" /> <!--seconds-->
		<!-- -->
		<add key="CompanyApiRoute" value="Companies/" />
		<add key="CompanyApiCountRoute" value="Companies/Count" />
		<add key="CompanyApiPaginationRoute" value="Companies/Pagination" />
		<add key="CompanyApiItemsRoute" value="Companies/Items" />
		<add key="CompanyApiSearchRoute" value="Companies/Search/" />
		<add key="CompanyApiAuditListRoute" value="Companies/Audit/" />
		<add key="CompanyApiAuditRoute" value="Companies/AuditId/" />
		<add key="CompanyApiSnapshotRoute" value="Companies/Snapshot/" />
		<!-- -->
		<add key="EmployeeApiRoute" value="Employees/" />
		<add key="EmployeeApiCountRoute" value="Employees/Count" />
		<add key="EmployeeApiPaginationRoute" value="Employees/Pagination" />
		<add key="EmployeeApiItemsRoute" value="Employees/Items" />
		<add key="EmployeeApiSearchRoute" value="Employees/Search/" />
		<add key="EmployeeApiAuditListRoute" value="Employees/Audit/" />
		<add key="EmployeeApiAuditRoute" value="Employees/AuditId/" />
		<add key="EmployeeApiSnapshotRoute" value="Employees/Snapshot/" />
		<!-- -->
		<add key="DepartmentApiRoute" value="Departments/" />
		<add key="DepartmentApiCountRoute" value="Departments/Count" />
		<add key="DepartmentApiPaginationRoute" value="Departments/Pagination" />
		<add key="DepartmentApiItemsRoute" value="Departments/Items" />
		<add key="DepartmentApiSearchRoute" value="Departments/Search/" />
		<add key="DepartmentApiAuditListRoute" value="Departments/Audit/" />
		<add key="DepartmentApiAuditRoute" value="Departments/AuditId/" />
		<add key="DepartmentApiSnapshotRoute" value="Departments/Snapshot/" />
		<!-- -->
	</appSettings>
</configuration>