<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BaseAddress" value="http://localhost:52468/api/v1/" />
		<!-- -->
		<add key="RequestTimeout" value="180" />
		<!-- -->
		<add key="CompanyApiRoute" value="Companies/" />
		<add key="CompanyApiSearchRoute" value="Companies/Search/" />
		<add key="CompanyApiAuditListRoute" value="Companies/Audit/" />
		<add key="CompanyApiAuditRoute" value="Companies/AuditId/" />
		<add key="CompanyApiSnapshotRoute" value="Companies/Snapshot/" />
		<!-- -->
		<add key="EmployeeApiRoute" value="Employees/" />
		<add key="EmployeeApiSearchRoute" value="Employees/Search/" />
		<add key="EmployeeApiAuditListRoute" value="Employees/Audit/" />
		<add key="EmployeeApiAuditRoute" value="Employees/AuditId/" />
		<add key="EmployeeApiSnapshotRoute" value="Employees/Snapshot/" />
		<!-- -->
		<add key="DepartmentApiRoute" value="Departments/" />
		<add key="DepartmentApiSearchRoute" value="Departments/Search/" />
		<add key="DepartmentApiAuditListRoute" value="Departments/Audit/" />
		<add key="DepartmentApiAuditRoute" value="Departments/AuditId/" />
		<add key="DepartmentApiSnapshotRoute" value="Departments/Snapshot/" />
		<!-- -->
	</appSettings>
</configuration>